/* app specific css */
.card-form{
    width:50%;
    position: relative;
    margin:auto;
    left:0;
    right:0;

}
.card-form > *{
    display: block;
    
}

/* Printing */

@media print {
    body * {
        visibility: hidden;
    }

    #section-to-print,
    #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: absolute;
        left: 30px;
        top: 30px;
        right: 30px;
    }
}



/* Used Font Squirrel to convert ttf into woff and woff2  */

@font-face {
    font-family: 'ash5';
    src: url('./fonts/ashishfont2-irregularregular-webfont.woff2') format('woff2'),
         url('./fonts/ashishfont2-irregularregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'punctuationAshish';
    src: url('./fonts/punctuationashish-regular-webfont.woff2') format('woff2'),
         url('./fonts/punctuationashish-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ash4';
    src: url('./fonts/ashishfont3-regular-webfont.woff2') format('woff2'),
         url('./fonts/ashishfont3-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ash3';
    src: url('./fonts/ashishfont4-regular-webfont.woff2') format('woff2'),
         url('./fonts/ashishfont4-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ash2';
    src: url('./fonts/myfont-regular-webfont.woff2') format('woff2'),
         url('./fonts/myfont-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ash1';
    src: url('./fonts/ashishfonta-regular-webfont.woff2') format('woff2'),
         url('./fonts/ashishfonta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



